<h1>Products</h1>
<% if @products.any?() %>
  <div class="row">
    <% @products.each do |product|  %>
      <div class="card col-md-3">
        <% if product.images.any? %>
          <%= image_tag product.images[0].image.url(:medium) %>
        <% else %>
          <p>
            No images yet!
          </p>
        <% end %>
        <div class="card-block">
          <h2 class="card-title"><%= link_to product.name, product_path(product) %></h2>
            <h4><%= product.description %></h4>
            <p class="card-text">
                $<%= product.price  %>
              </p>
            </div>
          </div>
      <% end %>
    </div>
<% else %>
  <h4>No products Yet</h4>
<% end %>
