<h1>Products#show</h1>

<h1><%= @product.name %></h1>
<% if @product.images.any? %>
  <% @product.images.each do |image| %>
  <%= image_tag image.image.url(:medium) %>
  <% end %>
<% end %>
<%= @product.description %>
